/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

/* src/styles/index.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


button:hover {
    opacity: 0.8;
    transform: translateY(-2px);
    transition: all 0.2s ease;
}

button:active {
    transform: translateY(0);
}